* {
    /* Be sure to include a fallback like 'sans-serif' in case the user doesnt have the specified font in their browser */
    font-family: "Helvetica", sans-serif;
}
/****Page header styling****/

header h1{
    background-image: url('../media/pattern.jpeg');
    font-size: 100px;
    /* The default CSS settings for the h1 tag set 'font-weight: bold' so this is redundant */
    /* font-weight: bold; */
    color: khaki;
    text-align: center;
}

/****Product styling****/

section h2 {
    font-size: 32px;
    /* The default CSS settings for the h2 tag set 'font-weight: bold' so this is redundant */
    /* font-weight: bold; */
    color: white;
}

.price {
    font-weight: bold;
    color: blue;
}

/****Styling for product headings****/
/****Classes used for reusability as the site grows***/

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}